.container {
  background-color: #eae3d2;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 16px 5px rgb(0 0 0 / 24%);
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 16px 9px rgb(0 0 0 / 24%);
}

.heading {
  text-align: center;
}

.img {
  max-width: 150px;
  border-radius: 10px;
}

.detail {
  font-size: 18px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-top: auto;
}
