.container {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 19px 2px rgb(0 0 0 / 19%);
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.3s;
  width: 200px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.container:hover {
  transform: scale(1.05);
}
