.container {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.186);
  cursor: pointer;
  flex-direction: column;
  margin-bottom: 10px;
  transition: all 0.3s;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.container:hover {
  transform: scale(1.05);
}
