.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.popup-date {
  margin: 5px 0 !important;
}
